html, body {
    background-color: black;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 2vh 5em;
    background-color: rgb(7, 7, 7);
    position: sticky;
    top: 0;
    align-items: center;
}

#header-logo {
    width: 150px;
    height: 40px;
    padding: -80px;
    cursor: pointer;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%; 
    flex-direction: column;
    padding: 5em;
}

#band-logo {
    margin-top: 5vh;
}

.section-link {
    color: #f6bc68;
    text-decoration: none;
    font-size: 2em;
}

.section-link:hover {
    color: #e68f4c;
    font-size: 2.2em;
}

#link-area {
    display: flex;
    gap: 24px;
}

.nav-link {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(199, 199, 199);
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: solid rgb(199, 199, 199) 2px;
    color: rgb(218, 218, 218);;
}   


header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5em;
}

#about-us {
    display: flex;
    flex-direction: column;
    height: 100vh;   
    padding-top: 10vh;  
    gap: 5em;
}

#about-us h2 {
    font-weight: bold;
    color: #f7a533;
    font-size: 3em;
}

h2 {
    padding-left: 100px;
}

#about-us div {
    display: flex;
    justify-content: space-around;
}

#about-us > div > p {
    width: 40vw;
    font-size: 2em;
    color: #f6bc68;
}

#about-us > div > img {
    width: 400px;
    height: 400px;
}

#events {
    color: #f6bc68;
    font-size: 4mm;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#events h2 {
    color: #f6bc68;
    font-size: 3em;
    margin-bottom: 1em;
}

#event-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.event-cards {
    width: 200px;
    height: 250px;
    background-color: #2e2e2e ;
    border-radius: 10px;
    padding: 16px;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1em;
    padding: 24px;
}