html, body {
    background-color: black;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    color:#f5f5dc;
    font-size: 2em;
}

header {
    display: flex;
    padding: 2vh 5em;
    background-color: rgb(7, 7, 7);
    position: sticky;
    top: 0;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%; 
    flex-direction: column;
    padding: 5em;
    margin-bottom: 4em;
}

#band-logo {
    width: 60vw;
    height: 60vh;
}

.section-link {
    color: #f5f5dc;
    text-decoration: none;
    font-size: 2em;
}

.section-link:hover {
    color: #c2c2ab;
    font-size: 2.2em;
}

#menu-burger {
    height: 50px;
    width: 50px;
    color: beige
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5em;
}

#about-us {
    color: #f5f5dc;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    height: 100vh;   
    padding-top: 10vh;  
    gap: 4em;
}

h2 {
    padding-left: 100px;
}

#about-us div {
    display: flex;
    justify-content: space-around;
}

#about-us > div > p {
    width: 40vw;
    font-size: 1.5em;
}

#about-us > div > img {
    width: 400px;
    height: 400px;
}

#events {
    color: #f5f5dc;
    font-size: 4mm;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#events h2 {
    color: #f5f5dc;
    font-size: 3em;
    margin-bottom: 1em;
}

#event-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.event-cards {
    width: 200px;
    height: 250px;
    background-color: #2e2e2e ;
    border-radius: 10px;
    padding: 16px;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1em;
    padding: 24px;
}